html,body {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
}
#content {
    width: 1300px;
    margin: 0 auto;
}
#content .header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: orange;
    display: flex;
    margin: 30px auto;
    padding: 5px;
    color: white;
    font-size:16px;
}
#content .header span {
    margin-right: 10px;
}
#content .header a {
    margin-right: 15px;
    color: white;
    position: relative;
}
#content .header a:hover {
    color:red
}
#content .header a i {
    width: 0;
    height: 0;
    border:4px solid transparent;
    position: absolute;
}
#content .header a i.up {
    border-bottom-color:white;
    top:12px;
    right:-10px
}
#content .header a i.down {
    border-top-color:white;
    top:22px;
    right:-10px
}

#content .header a i.up.bg {
    border-bottom-color:red;
}
#content .header a i.down.bg {
    border-top-color:red;
}

/* ==================================== */

#cardBox {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;/*让li自动折行*/
}

#cardBox li{
    width: 24%;
    box-sizing: border-box;
    background: white;
    padding:10px;
    margin: 10px .5%; /* .5%=0.5%*/
}
#cardBox li img {
    display: block;
    width: 100%;
}
#cardBox li span {
    display: block;
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 3px;
    color:orangered
}

